extends layout

block content
 div(class='cover')
  div(class='spinner')
   div(class='rect1')
   div(class='rect2')
   div(class='rect3')
   div(class='rect4')
  p(class='loading') Loading
 div.slider 
 a(href='#' class='stacey') Stacey


