doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')  
    link(rel='stylesheet', href=' http://www.google.com/fonts#UsePlace:use/Collection:Roboto:700')  
    link(rel='stylesheet',href='stylesheets/slick/slick.css')
    script(type='text/javascript' src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src="/javascripts/slick/slick.min.js")
    script(src="/javascripts/spacebrew/sb-1.4.1.min.js")
    script(src="/javascripts/main.js")
  body
    block content